.vscode/launch.json
__pycache__/langSupport.cpython-39.pyc
__pycache__/main.cpython-39.pyc
__pycache__/musicState.cpython-39.pyc
__pycache__/paatuPetti.cpython-39.pyc
__pycache__/play.cpython-39.pyc
__pycache__/song.cpython-39.pyc
__pycache__/ytdlSource.cpython-39.pyc
config.json